ms.pdf
ms.log
ms.aux
ms.out
ms.blg
ms.bbl
ms.spl
ms.synctex.gz
*response_letter.pdf
*response_letter.log
*response_letter.aux
*response_letter.out
*response_letter.blg
*response_letter.bbl
*response_letter.spl
*response_letter.synctex.gz